@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  font-size: 13px;
  color: #6d7f97;
  background-color: #ecf2f8;
}

#wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

#wrapper .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 6em 2em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 1400px) {
  #wrapper .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 6em 19em;
  }
}

#wrapper .left-col {
  width: 100%;
  height: 215px;
  overflow: hidden;
  border-radius: 12px 12px 0 0;
}

@media screen and (min-width: 650px) {
  #wrapper .left-col {
    height: 377px;
  }
}

@media screen and (min-width: 1400px) {
  #wrapper .left-col {
    border-radius: 12px 0px 0px 12px;
    width: 40%;
    height: auto;
  }
}

#wrapper .left-col img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 1400px) {
  #wrapper .left-col img {
    -o-object-position: 7%;
       object-position: 7%;
  }
}

#wrapper .right-col {
  border-radius: 0px 0px 12px 12px;
  background-color: #fff;
  -webkit-box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.09);
          box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.09);
  position: relative;
}

@media screen and (min-width: 1400px) {
  #wrapper .right-col {
    border-radius: 0px 12px 12px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 60%;
  }
}

#wrapper .right-col .content {
  padding: 3em 2.5em 0;
}

@media screen and (min-width: 650px) {
  #wrapper .right-col .content {
    padding: 2.7em 2.5em 0;
  }
}

@media screen and (min-width: 1400px) {
  #wrapper .right-col .content {
    padding: 2.7em 3.5em 0;
  }
}

#wrapper .right-col .content h1 {
  color: #48556a;
  font-size: 16px;
  line-height: 1.6em;
}

@media screen and (min-width: 1400px) {
  #wrapper .right-col .content h1 {
    font-size: 29px;
  }
}

#wrapper .right-col .content p {
  line-height: 1.6em;
  margin: 1em 0 1.5em 0;
}

@media screen and (min-width: 1400px) {
  #wrapper .right-col .content p {
    font-size: 18px;
  }
}

@media screen and (min-width: 650px) {
  #wrapper .right-col .content p .mobile {
    display: none;
    visibility: hidden;
  }
}

#wrapper .right-col .share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0em 2.5em 1.5em;
}

@media screen and (min-width: 1400px) {
  #wrapper .right-col .share {
    padding: 0em 3.5em 2.4em;
  }
}

#wrapper .right-col .share img.avatar {
  width: 40px;
  border-radius: 50%;
}

@media screen and (min-width: 1400px) {
  #wrapper .right-col .share img.avatar {
    width: 50px;
  }
}

#wrapper .right-col .share .about {
  margin-left: -35px;
}

@media screen and (min-width: 650px) {
  #wrapper .right-col .share .about {
    margin-left: -25em;
  }
}

@media screen and (min-width: 1400px) {
  #wrapper .right-col .share .about {
    margin-left: -17em;
  }
}

#wrapper .right-col .share .about span.name {
  font-weight: 700;
  color: #48556a;
  display: block;
  margin-bottom: 3px;
}

@media screen and (min-width: 1400px) {
  #wrapper .right-col .share .about span.name {
    font-size: 15px;
  }
}

#wrapper .right-col .share .about span.date {
  color: #9eafc2;
}

@media screen and (min-width: 1400px) {
  #wrapper .right-col .share .about span.date {
    font-size: 15px;
  }
}

#wrapper .right-col .share .icon {
  width: 30px;
  height: 30px;
  background-color: #ecf2f8;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1400px) {
  #wrapper .right-col .share .icon {
    width: 40px;
    height: 40px;
  }
}

@media screen and (min-width: 1400px) {
  #wrapper .right-col .share .icon img {
    width: 18px;
  }
}

#wrapper .right-col .share-box {
  background-color: #48556a;
  color: #9eafc2;
  border-radius: 0px 0px 12px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.2em 2.5em 1.2em;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  display: none;
}

@media screen and (min-width: 1400px) {
  #wrapper .right-col .share-box {
    border-radius: 12px;
    width: 245px;
    bottom: 8.5em;
    left: 29.6em;
  }
}

@media screen and (min-width: 1400px) {
  #wrapper .right-col .share-box::after {
    position: relative;
    content: "";
    width: 0;
    height: 0;
    left: -38%;
    bottom: -31px;
    -webkit-transform: translatex(-38%);
            transform: translatex(-38%);
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-top: 14px solid #48556a;
  }
}

#wrapper .right-col .share-box span {
  text-transform: uppercase;
  letter-spacing: 5px;
}

@media screen and (min-width: 1400px) {
  #wrapper .right-col .share-box span {
    margin-right: 15px;
  }
}

@media screen and (min-width: 1400px) {
  #wrapper .right-col .share-box img + img {
    margin-left: 12px;
  }
}

#wrapper .right-col .share-box .icon {
  width: 30px;
  height: 30px;
  background-color: #6d7f97;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 50px;
}

@media screen and (min-width: 650px) {
  #wrapper .right-col .share-box .icon {
    margin-left: 20em;
  }
}

#wrapper .right-col .share-box .icon img {
  -webkit-filter: invert(0) brightness(2);
          filter: invert(0) brightness(2);
}

@media screen and (min-width: 1400px) {
  #wrapper .right-col .share-box .icon {
    visibility: hidden;
    display: none;
  }
}

#wrapper .right-col .share-box.open {
  visibility: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=styles.css.map */